body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.dersKaldir{
    background-color: rgb(207, 150, 150) !important;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.ders {
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 35px;
    width: 500px;
    background: white;
}

input {
    padding: 5px;
    margin: 5px;
    width: 50px;
    border-radius: 10px;
    border: 3px solid #094da5;
}

.dersAdi{
    width: 100px;
    text-align: center;
}

.haftalikSaat{
    text-align: center;
}


.ortalama {
    font-weight: bold;
    margin-left: 10px;
    color: #d9534f;
}
